#form_container{
  margin: 0 auto;
  text-align:center;
  background-color:#1e365c;
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

.error{
  color:red;
}

.info{
  color:yellow;
}

li {
  list-style-type: none;
}